body {

      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 14px;
}

.contact-body {
      background-color: beige;
}
.wrapper .left,
.wrapper .right {
      width: 100%;
      height: 80vh;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
}


.wrapper .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.25s ease all;
}


.dog {
      background: url('images/jane-writes2.jpg');
}

.cat {
      background-color: beige;
}

.resume-red {
      color:red;
}
.jane {
      background: url('images/jane-writes8.jpg');
}

.write {
      background: url('images/jane-writes4.jpg');
}

.big-header {
      font-family: 'Lobster', 'cursive';
      font-size:80px;
}

.mid-header {
      font-family: 'Lobster', 'cursive';
      font-size: 25px;
}

.writing-header {
      font-family: 'Lobster', 'cursive';
      font-size: 20px;
}
.about-start-desc {
      font-family: 'Barlow', sans-serif;
      padding: 5px;
      margin: 4px;
}

.jane-description {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size:20px;
      }
#jane-description-2 {
   text-align: center;
  }

.wrapper .caption {
      position: relative;
      z-index: 10;
      color: #080808;
      text-align: center;
}


.wrapper .caption h1 {
      text-transform: uppercase;
      letter-spacing: 0.25em;
      margin-bottom:1em;
}

.nav-container {
      align-items: right;
}

.wrapper .caption .button {
      background: #000;
      color: #fff;
      padding: 1em 2em;
      text-decoration: none;
      font-weight: 600;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      transition: 0.25s ease all;
}


.wrapper .caption .button:hover {
      background: #ffd346;
      color: #000;
}


.wrapper .side::before {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: '';
      display: block;
}



@media screen and (min-width:1200px) {

      .wrapper {
            display: flex;
      }


      .wrapper .left,
      .wrapper .right {
            width: 50%;
            height: 100vh;
      }

}
